<ion-header [translucent]="true" >
  <ion-toolbar color="dark">
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="caramelo">

  <ion-list >
    <ion-item color = "caramelo">
      <ion-item color = "caramelo">
        <ion-thumbnail slot="start">
          <img  src="https://images.caminhoesecarretas.com.br/cliente_006611/empresa/6611_logo.jpg">
        </ion-thumbnail>
      </ion-item>
      <ion-label>Agropec lavagens</ion-label>
    </ion-item>

    <ion-item color = "caramelo">
      <ion-item color = "caramelo">
        <ion-thumbnail slot="start">
          <img  src="https://play-lh.googleusercontent.com/y-oCfqBE6w6HmCTFtRi_KbFFjPR1OauNfYFWA6yu1ZqfNIkuxtQ5OXYCsYlb-ED1GGFn">
        </ion-thumbnail>
      </ion-item>
      <ion-label>Petz</ion-label>
    </ion-item>

    <ion-item color = "caramelo">
      <ion-item color = "caramelo">
        <ion-thumbnail slot="start">
          <img  src="https://images.caminhoesecarretas.com.br/cliente_006611/empresa/6611_logo.jpg">
        </ion-thumbnail>
      </ion-item>
      <ion-label>Agropec lavagens</ion-label>
    </ion-item>
    
    <ion-item color = "caramelo">
      <ion-item color = "caramelo">
        <ion-thumbnail slot="start">
          <img  src="https://images.caminhoesecarretas.com.br/cliente_006611/empresa/6611_logo.jpg">
        </ion-thumbnail>
      </ion-item>
      <ion-label>Agropec lavagens</ion-label>
    </ion-item>
  </ion-list>
  
 

</ion-content>
