<ion-header [translucent]="true">
  <ion-toolbar color = "dark">
    <ion-title>
      
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button>
        <span class="material-symbols-outlined" >
          Pets
        </span>
      </ion-button>
    </ion-buttons>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" color="caramelo">

  <ion-grid>
    <ion-row>
      <ion-col >

        <ion-card>
          <img src="">
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>

    </ion-col>

    <ion-col>

      <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>  

</ion-content>
